button {
  background-color: green;
  color: white;
  border: none;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease, transform 0.3s ease;
  box-shadow: 0 4px 6px rgba(114, 200, 127, 0.1);
}

button:hover {
  background-color: white;
  color: green;
  transform: scale(1.05);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
}

button:active {
  transform: scale(0.98);
}

.play-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3rem; /* Adjust size as needed */
  /* Optional: add a background for better visibility */
  border-radius: 50%; /* Optional: make it circular */
  padding: 0.5rem; /* Optional: add padding */
  cursor: pointer;
}

/* info.css */
.play-button:hover {
  background-color: rgba(
    0,
    0,
    0,
    0.5
  ); /* Dark background on hover for visibility */
}
