.product-list {
  display: flex;
  flex-wrap: wrap; /* Allow cards to wrap */
  gap: 1rem; /* Space between cards */
  justify-content: center; /* Center cards horizontally */
  /* padding: 20px; */
}

.item {
  flex: 1 1 calc(25% - 20px);
  max-width: 300px;
}
