.product-list {
  display: flex;
  flex-wrap: wrap; /* Allow cards to wrap */
  gap: 10px; /* Space between cards */
  justify-content: center; /* Center cards horizontally */
  /* padding: 20px; */
}

/* .item {
  flex: 1 1 calc(25% - 20px); /* 25% width minus the gap to fit 4 cards per row */
  max-width: 300px; /* Limit max width for smaller screens */
} */
