.container-fluid,
.navbar {
  padding: 0;
  margin: 0;
}

.navbar-collapse {
  transition: max-height 0.5s ease-in-out;
  overflow: hidden;
}

.navbar-collapse.show {
  max-height: auto; /* Allow full height */
}

.navbar-toggler-icon {
  transition: transform 0.3s ease;
}

.navbar-toggler-icon.open {
  transform: rotate(90deg); /* Rotate when open */
}

body {
  overflow-x: hidden; /* Prevent horizontal scrolling */
}
